<div id="order_item_<%= order_item.id %>"> 
  <p><%= order_item.product.name %> | <%= link_to "Delete", order_item_path(order_item), remote: true, :data => {:confirm => "You sure?", :method => "delete"} %></p>
  <p> Unit Price: <%= number_to_currency order_item.product.price %> | Quantity: <%= order_item.quantity %> | Total Price: <%= number_to_currency (order_item.product.price * order_item.quantity) %></p>
</div>
