if ($("#product_detail_id_<%= @product.id %>").length) {
  $("#product_id_<%= @product.id %>").toggle()
  $("#product_detail_id_<%= @product.id %>").toggle()
}
else {
  $("#product_id_<%= @product.id %>").hide().after("<p> <%= j render 'products/show_details' %></p>")
}
